* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: Verdana;
  font-size: 10pt;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Georgia;
}

section {
  float: left;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.4em;
  padding: 1em;
  margin: 0.5em 0;
}

section p {
  margin: 1em 0;
}

section img {
  float: left;
  max-width: 50%;
  width: 50%;
  margin-right: 1em;
}

nav {
  background-color: #333;
  padding: 1em 0;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  background-color: #eee;
  border-radius: 0.2em;
  padding: 0.2em 1em;
}

nav ul li a {
  text-decoration: none;
  color: #110;
}


nav ul li.family {
  border-bottom: 1px solid grey;
  background-color: #fff;
}

nav ul li.family:hover {
  box-shadow: 0 0 5px aqua;
}

li.family a {
  color: #660;
}

.container {
  max-width: 960px;
  width: 90%;
  margin: auto;
}

body > .container {
  margin-top: 1em;
}

button {
  padding: 0.25em 0.5em;
}

button.delete:hover {
  color: red;
}

p label {
  min-width: 7em;
  display: inline-block;
}

p input {
  width:;
}

.hero img {
  width: 49%;
  display: inline;
}
