nav {
  background-color: pink;
  padding: 1em;
}

nav ul {
  list-style: none;
  margin-left: 0;
}

nav ul li {
  display: inline;
  margin-right: 1em;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-shadow: 0 0 5px red;
}
