<!DOCTYPE html>
<html>
<head>
  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
  <title>BlogRailsApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script id="app-template" type="text/x-handlebars-template">
  <h1>Recent Posts</h1>
  <ul id="posts">
  </ul>
</script>

<script id="blog-list-template" type="text/x-handlebars-template">
  {{ title }}
</script>

<script id="blog-view-template" type="text/x-handlebars-template">

  <div class="error">
    You are our 100,000 visitor! CLICK FOR YOUR FREE iPAD
  </div>

  <div class="post">
    <h1>{{ title }}</h1>
    <h3>{{ slug }}</h3>
    <div class="content">
      {{{ content }}}
    </div>
    <h2>Comments</h2>
    <div id="comment_form">
    </div>
    <div class="comments">
      {{#each comments}}
        <div class="comment">
          <p>{{ blather }}</p>
          <small>{{ author }}</small>
        </div>
      {{else}}
        <p>No comments</p>
      {{/each}}
    </div>
  </div>
</script>
<%= javascript_include_tag "application" %>
<script src="https://rawgithub.com/powmedia/backbone-forms/master/distribution/backbone-forms.min.js"></script>
</body>
</html>
