<form method="post" action="/">
  <label for="text_input">Enter text input</label>
  <input type="text" name="text_input" placeholder="You already know this one">

  <textarea name="textarea_input" placeholder="Default content is not placeholder text">
You can put default content here
  </textarea>

  <select name="input_select">
    <option value="some value">Some option</option>
    <option value="some other value">Some other option</option>
    <option>Option without a value</option>
  </select>

  <input type="submit" value="Send">
  <!--
  <button>Button text goes here</button>
  -->
</form>