<!doctype html>
<html>
  <head>
    <title>WDI Store</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/products/new">New Product</a></li>
      </ul>
    </nav>

    <h1>WDI Store</h1>
    <%= yield %>
  </body>
</html>
