<h2>Enter your new product details</h2>
<form method="post" action="/products/create">
  <label for="name">Name:</label>
  <input name="name" placeholder="Your product name here">

  <label for="description">Description:</label>
  <textarea name="description"></textarea>

  <label for="price">Price:</label>
  <input name="price" type="number" placeholder="Your product price here" step="0.01">

  <input type="submit" value="Create">
</form>