<ul>
  <li><strong>Name</strong>: <%= @product['name'] %></li>
  <li><strong>Description</strong>: <p><%= @product['description'] %></p></li>
  <li><strong>Price</strong>: $<%= @product['price'] %></li>
</ul>
