<script src="js/random.js"></script>

<h2>Welcome to your random number</h2>

<p id="random"><%= @random %></p>

<input type="number" id="max_rand" placeholder='Max random number'>

<a href="/random" id="random_link">Get more random</a>
