<form method="post" action="/planets">
  <p>Name: <input type="text" name="planet[name]" autofocus></p>
  <p>Image: <input type="text" name="planet[image]"></p>
  <p>Orbit: <input type="text" name="planet[orbit]"></p>
  <p>Diameter: <input type="text" name="planet[diameter]"></p>
  <p>Mass: <input type="text" name="planet[mass]"></p>
  <p>Moons: <input type="text" name="planet[moons]"></p>
  <button>planet me!</button>
</form>