<form method="post" action="/planets">
  <p>Name: <input type="text" name="name" autofocus></p>
  <p>Image: <input type="text" name="image"></p>
  <p>Orbit: <input type="text" name="orbit"></p>
  <p>Diameter: <input type="text" name="diameter"></p>
  <p>Mass: <input type="text" name="mass"></p>
  <p>Moons: <input type="text" name="moons"></p>
  <button>planet me!</button>
</form>