body {
  background-color: #444;
}

#container {
  max-width: 960px;
  margin: auto;
  background-color: #999;
  color: white;
  border-radius: 0.5em;
  padding: 1em;
}

#new_task {
  text-align: right;
}

#description {
  width: 99%;
  font-size: 200%;
  margin: 1em 0;
  border-radius: 0.2em;
  padding: 0.5em 0;
  text-align: center;
}
