<form action="/calc" method="get">
  <input name="first" placeholder="First number">
  <input name="operator" placeholder="Operator">
  <input name="second" placeholder="Second number">

  <input type="submit" value="Calculate!!">
</form>