.container {
  width: 800px;
  margin: auto;
}

body {
  margin: 0;
  font-family: Arial;
}

nav {
  background-color: #030303;
  height: 50px;
  padding-top: 30px;
  font-size: 90%;
}

nav ul {
  margin-top: 0;
  padding-left: 0;
}

nav li {
  display: inline;
  margin-right: 2em;
}

nav li a {
  color: #cccccc;
  text-decoration: none;
}

.title {
  margin-top: 2em;
  margin-bottom: 1em;
}

.title h1 {
  display: inline;
  font-size: 300%;
  margin-top: 0.5em;
  font-style: italic;
  letter-spacing: -5px;
  line-height: 1;
}

.title h1 img {
  float: left;
  margin-right: 0.2em;
}

.social {
  display: inline;
  float: right;
  margin-top: 5px;
}

.social ul {
  display: inline;
  padding-left: 0;
  list-style: none;
}

.social ul li {
  display: inline;
  margin-left: 0.7em;
}

.social ul li img {
  border-radius: 7px;
  box-shadow: 0px 2px 5px #444;
}

.hero img {
  box-shadow: 0px 10px 10px #000;
}
