<!doctype html>

<html lang="en">
  <head>
    <title>Stock Pricer</title>
  </head>

  <body>
    <h1>Stock Pricer</h1>
    <%= yield %>

    <footer>
      &copy; Copyright 2013
      <%= Time.new.to_s %>
    </footer>

  </body>
</html>
