<h1>KNOW YOUR ENEMY</h1>
<h2>The butterfly menace</h2>

<div class="hero">
  <img src="http://ih0.redbubble.net/image.12172729.6427/flat,550x550,075,f.jpg">
  <img src="http://ep.yimg.com/ay/yhst-79175255987083/butterfly-dog-costume-1.gif">
</div>

<h2>A guide to identifying the butterflies who will EAT YOUR LOVED ONES</h2>
